#info-container {
  width: 20%;
  height: 100%;
  float: left;
  background: url(bg-light.png) repeat;
  color: #0072B0;
}

#weather-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#weather-container h2 {
  color: white;
  background-color: #0072B0;
  padding: 5px 0;
  margin: 0 0;
}

#weather-container h3 {
  margin: 10px 0 0 0;
}

.weather-current {
  display: flex;
  justify-content: space-between;
}

.weather-current img {
  height: 50%;
  width: 50%;
  transform:scale(1.2);
  margin-left: 4%;
}

.weather-current p {
  font-size: 70px;
  margin: 10% 0;
  margin-right: 4%;
}

.weather-recess {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.weather-recess-number {
  font-size: 30px;
  margin: 12% 0;
  margin-left: 4%;
}

.weather-recess img {
  height: 30%;
  width: 30%;
  margin: auto;
  transform:scale(1.2);
}

.weather-recess-temp {
  font-size: 45px;
  margin: 10% 0;
  margin-right: 4%;
}
